<%= render '_partials/header' %>
<a href="http://tuxurecords.tumblr.com/" target="_blank" alt="つくしレコーズ" title="つくしレコーズ">
  <img width="120" height="52" border="0" style="position:absolute; left:25px; top:25px; margin:0px; padding:0px" src="tuxu_logo.png" />
</a>
<%= render "_partials/title"%>

<div id="contents">
  <div id="contents-img" class="main-image">
    <%= image_tag @img_tag_collection %>
  </div>
  <%= notice %>
  <p>
  <%= form_tag({:controller => 'mains', :action => 'post'}, {:class => "iihanashi-form", :id => "text" }) do %>
 
    <div class="main-image_hidden">
      <%= hidden_field_tag "img", @img_tag_collection %>   
    </div>
    <%= text_area_tag "desc", wrap_descs(@desc_collections, @title_collection), :size=>"70x30" %>  
  </p>
    <%= link_to image_tag("button_2.png"), "", {:class => "action-submit", :width => "245", :height => "35", :alt => "Facebookでシェアする", :title => "Facebookでシェアする" } %>
  </p>
  <% end %>

  <%= render "_partials/footer" %>
</div>